{name, "epgsql"}.
{authors, ["Will Glozer <will@glozer.net>"]}.
{description, "Erlang PostgreSQL client library"}.
{homepage, "https://github.com/wg/epgsql"}.
{rebar_compatible, true}.
{license, "BSD", "LICENSE"}.
{url, {git, "https://github.com/wg/epgsql.git", {branch, "master"}}}.
{applications, [epgsql]}.
